
/* roboto-300 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./roboto-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Normal'),
         url('./roboto-300lixf.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./roboto-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./roboto-300.woff') format('woff'), /* Modern Browsers */
         url('./roboto-300.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('//lib.baomitu.com/fonts/roboto/roboto-300.svg#Roboto') format('svg'); Legacy iOS */
  }
    
  /* roboto-regular */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: regular;
    src: url('./roboto-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Normal'),
         url('./roboto-regular1.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./roboto-regular.woff') format('woff'), /* Modern Browsers */
         url('./roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('//lib.baomitu.com/fonts/roboto/roboto-regular.svg#Roboto') format('svg'); Legacy iOS */
  }
    
  /* roboto-500 */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./roboto-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Normal'),
         url('./roboto-5001.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./roboto-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./roboto-500.woff') format('woff'), /* Modern Browsers */
         url('./roboto-500.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('//lib.baomitu.com/fonts/roboto/roboto-500.svg#Roboto') format('svg'); Legacy iOS */
  }
    
  /* roboto-700 */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./roboto-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Normal'),
         url('./roboto-7001.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./roboto-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./roboto-700.woff') format('woff'), /* Modern Browsers */
         url('./roboto-700.ttf') format('truetype'), /* Safari, Android, iOS */
         /* url('//lib.baomitu.com/fonts/roboto/roboto-700.svg#Roboto') format('svg'); Legacy iOS */
  }
    